// Menu Button

.menu-btn {
  @include easeOut;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 3;

  .btn-line {
    @include easeOut;
    background: set-text-color($primary-color);
    height: 3px;
    margin: 0 0 5px 0;
    width: 28px;
  }

  // Rotate the menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 Hide
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    float: left;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 50%;
  }

  &-nav {
    @include easeOut;
    background: rgba(darken($primary-color, 5), 0.9);
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate3d(0, -100%, 0);

    &.show {
      // Slide in from the top
      transform: translate3d(0, 0, 0);
    }
  }
  &-branding {
    @include easeOut;
    background: rgba($primary-color, 0.9);
    transform: translate3d(0, 100%, 0);

    &.show {
      // Slide in from the bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background: url('../img/portrait_lg');
      background-position: center;
      background-size: cover;
      border: solid 3px $secondary-color;
      border-radius: 50%;
      height: 250px;
      opacity: 1;
      width: 250px;
    }
  }

  .menu-item {
    @include easeOut;
    transform: translate3d(600px, 0, 0);

    &.show {
      // Slide in from the right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .main-link {
    @include easeOut;
    color: set-text-color($primary-color);
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1 seconds
@for $x from 1 through 4 {
  .menu-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
